<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>country</key>
		<string>Afghanistan</string>
		<key>code</key>
		<string>AFN</string>
		<key>title</key>
		<string>Afghan afghani</string>
	</dict>
	<dict>
		<key>country</key>
		<string>land Islands* (Finland)</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Albania</string>
		<key>code</key>
		<string>ALL</string>
		<key>title</key>
		<string>Albanian lek</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Algeria</string>
		<key>code</key>
		<string>DZD</string>
		<key>title</key>
		<string>Algerian dinar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>American Samoa* (USA)</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Andorra</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Angola</string>
		<key>code</key>
		<string>AOA</string>
		<key>title</key>
		<string>Angolan kwanza</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Anguilla* (UK)</string>
		<key>code</key>
		<string>XCD</string>
		<key>title</key>
		<string>East Caribbean dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Antigua and Barbuda</string>
		<key>code</key>
		<string>XCD</string>
		<key>title</key>
		<string>East Caribbean dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Argentina</string>
		<key>code</key>
		<string>ARS</string>
		<key>title</key>
		<string>Argentine peso</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Armenia</string>
		<key>code</key>
		<string>AMD</string>
		<key>title</key>
		<string>Armenian dram</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Aruba* (Netherlands)</string>
		<key>code</key>
		<string>AWG</string>
		<key>title</key>
		<string>Aruban florin</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Australia</string>
		<key>code</key>
		<string>AUD</string>
		<key>title</key>
		<string>Australian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Austria</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Azerbaijan</string>
		<key>code</key>
		<string>AZN</string>
		<key>title</key>
		<string>Azerbaijani manat</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Bahamas</string>
		<key>code</key>
		<string>BSD</string>
		<key>title</key>
		<string>Bahamian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Bahrain</string>
		<key>code</key>
		<string>BHD</string>
		<key>title</key>
		<string>Bahraini dinar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Bangladesh</string>
		<key>code</key>
		<string>BDT</string>
		<key>title</key>
		<string>Bangladeshi taka</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Barbados</string>
		<key>code</key>
		<string>BBD</string>
		<key>title</key>
		<string>Barbadian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Belarus</string>
		<key>code</key>
		<string>BYR</string>
		<key>title</key>
		<string>Belarusian ruble</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Belgium</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Belize</string>
		<key>code</key>
		<string>BZD</string>
		<key>title</key>
		<string>Belize dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Benin</string>
		<key>code</key>
		<string>XOF</string>
		<key>title</key>
		<string>West African CFA franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Bermuda* (UK)</string>
		<key>code</key>
		<string>BMD</string>
		<key>title</key>
		<string>Bermudian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Bhutan</string>
		<key>code</key>
		<string>BTN</string>
		<key>title</key>
		<string>Bhutanese ngultrum</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Bolivia</string>
		<key>code</key>
		<string>BOB</string>
		<key>title</key>
		<string>Bolivian boliviano</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Bosnia and Herzegovina</string>
		<key>code</key>
		<string>BAM</string>
		<key>title</key>
		<string>Bosnia and Herzegovina convertible mark</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Botswana</string>
		<key>code</key>
		<string>BWP</string>
		<key>title</key>
		<string>Botswana pula</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Brazil</string>
		<key>code</key>
		<string>BRL</string>
		<key>title</key>
		<string>Brazilian real</string>
	</dict>
	<dict>
		<key>country</key>
		<string>British Indian Ocean Territory* (UK)</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>British Virgin Islands* (UK)</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Brunei</string>
		<key>code</key>
		<string>BND</string>
		<key>title</key>
		<string>Brunei dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Bulgaria</string>
		<key>code</key>
		<string>BGN</string>
		<key>title</key>
		<string>Bulgarian lev</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Burkina Faso</string>
		<key>code</key>
		<string>XOF</string>
		<key>title</key>
		<string>West African CFA franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Burundi</string>
		<key>code</key>
		<string>BIF</string>
		<key>title</key>
		<string>Burundi franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Cabo Verde</string>
		<key>code</key>
		<string>CVE</string>
		<key>title</key>
		<string>Cape Verdean escudo</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Cambodia</string>
		<key>code</key>
		<string>KHR</string>
		<key>title</key>
		<string>Cambodian riel</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Cameroon</string>
		<key>code</key>
		<string>XAF</string>
		<key>title</key>
		<string>Central African CFA franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Canada</string>
		<key>code</key>
		<string>CAD</string>
		<key>title</key>
		<string>Canadian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Caribbean Netherlands* (Netherlands)</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Cayman Islands* (UK)</string>
		<key>code</key>
		<string>KYD</string>
		<key>title</key>
		<string>Cayman Islands dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Central African Republic</string>
		<key>code</key>
		<string>XAF</string>
		<key>title</key>
		<string>Central African CFA franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Chad</string>
		<key>code</key>
		<string>XAF</string>
		<key>title</key>
		<string>Central African CFA franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Chile</string>
		<key>code</key>
		<string>CLP</string>
		<key>title</key>
		<string>Chilean peso</string>
	</dict>
	<dict>
		<key>country</key>
		<string>China</string>
		<key>code</key>
		<string>CNY</string>
		<key>title</key>
		<string>Chinese Yuan Renminbi</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Christmas Island* (Australia)</string>
		<key>code</key>
		<string>AUD</string>
		<key>title</key>
		<string>Australian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Cocos (Keeling) Islands* (Australia)</string>
		<key>code</key>
		<string>AUD</string>
		<key>title</key>
		<string>Australian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Colombia</string>
		<key>code</key>
		<string>COP</string>
		<key>title</key>
		<string>Colombian peso</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Comoros</string>
		<key>code</key>
		<string>KMF</string>
		<key>title</key>
		<string>Comorian franc</string>
	</dict>
	<dict>
		<key></key>
		<string>XAF</string>
		<key>country</key>
		<string>Congo</string>
		<key>code</key>
		<string>Central African CFA franc</string>
		<key>title</key>
		<string>Republic of the</string>
	</dict>
	<dict>
		<key></key>
		<string>CDF</string>
		<key>country</key>
		<string>Congo</string>
		<key>code</key>
		<string>Congolese franc</string>
		<key>title</key>
		<string>Democratic Republic of the</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Cook Islands* (New Zealand)</string>
		<key>code</key>
		<string>none</string>
		<key>title</key>
		<string>Cook Islands dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Costa Rica</string>
		<key>code</key>
		<string>CRC</string>
		<key>title</key>
		<string>Costa Rican colon</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Cote d&apos;Ivoire</string>
		<key>code</key>
		<string>XOF</string>
		<key>title</key>
		<string>West African CFA franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Croatia</string>
		<key>code</key>
		<string>HRK</string>
		<key>title</key>
		<string>Croatian kuna</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Cuba</string>
		<key>code</key>
		<string>CUP</string>
		<key>title</key>
		<string>Cuban peso</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Curaao* (Netherlands)</string>
		<key>code</key>
		<string>ANG</string>
		<key>title</key>
		<string>Netherlands Antillean guilder</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Cyprus</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Czech Republic</string>
		<key>code</key>
		<string>CZK</string>
		<key>title</key>
		<string>Czech koruna</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Denmark</string>
		<key>code</key>
		<string>DKK</string>
		<key>title</key>
		<string>Danish krone</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Djibouti</string>
		<key>code</key>
		<string>DJF</string>
		<key>title</key>
		<string>Djiboutian franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Dominica</string>
		<key>code</key>
		<string>XCD</string>
		<key>title</key>
		<string>East Caribbean dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Dominican Republic</string>
		<key>code</key>
		<string>DOP</string>
		<key>title</key>
		<string>Dominican peso</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Ecuador</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Egypt</string>
		<key>code</key>
		<string>EGP</string>
		<key>title</key>
		<string>Egyptian pound</string>
	</dict>
	<dict>
		<key>country</key>
		<string>El Salvador</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Equatorial Guinea</string>
		<key>code</key>
		<string>XAF</string>
		<key>title</key>
		<string>Central African CFA franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Eritrea</string>
		<key>code</key>
		<string>ERN</string>
		<key>title</key>
		<string>Eritrean nakfa</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Estonia</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Ethiopia</string>
		<key>code</key>
		<string>ETB</string>
		<key>title</key>
		<string>Ethiopian birr</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Faroe Islands* (Denmark)</string>
		<key>code</key>
		<string>none</string>
		<key>title</key>
		<string>Faroese krona</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Falkland Islands* (UK)</string>
		<key>code</key>
		<string>FKP</string>
		<key>title</key>
		<string>Falkland Islands pound</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Fiji</string>
		<key>code</key>
		<string>FJD</string>
		<key>title</key>
		<string>Fijian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Finland</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>France</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>French Guiana* (France)</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>French Polynesia* (France)</string>
		<key>code</key>
		<string>XPF</string>
		<key>title</key>
		<string>CFP franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Gabon</string>
		<key>code</key>
		<string>XAF</string>
		<key>title</key>
		<string>Central African CFA franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Gambia</string>
		<key>code</key>
		<string>GMD</string>
		<key>title</key>
		<string>Gambian dalasi</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Georgia</string>
		<key>code</key>
		<string>GEL</string>
		<key>title</key>
		<string>Georgian lari</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Germany</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Ghana</string>
		<key>code</key>
		<string>GHS</string>
		<key>title</key>
		<string>Ghanaian cedi</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Gibraltar* (UK)</string>
		<key>code</key>
		<string>GIP</string>
		<key>title</key>
		<string>Gibraltar pound</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Greece</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Greenland* (Denmark)</string>
		<key>code</key>
		<string>DKK</string>
		<key>title</key>
		<string>Danish krone</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Grenada</string>
		<key>code</key>
		<string>XCD</string>
		<key>title</key>
		<string>East Caribbean dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Guadeloupe* (France)</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Guam* (USA)</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Guatemala</string>
		<key>code</key>
		<string>GTQ</string>
		<key>title</key>
		<string>Guatemalan quetzal</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Guernsey* (UK)</string>
		<key>code</key>
		<string>GGP</string>
		<key>title</key>
		<string>Guernsey Pound</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Guinea</string>
		<key>code</key>
		<string>GNF</string>
		<key>title</key>
		<string>Guinean franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Guinea-Bissau</string>
		<key>code</key>
		<string>XOF</string>
		<key>title</key>
		<string>West African CFA franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Guyana</string>
		<key>code</key>
		<string>GYD</string>
		<key>title</key>
		<string>Guyanese dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Haiti</string>
		<key>code</key>
		<string>HTG</string>
		<key>title</key>
		<string>Haitian gourde</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Honduras</string>
		<key>code</key>
		<string>HNL</string>
		<key>title</key>
		<string>Honduran lempira</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Hong Kong* (China)</string>
		<key>code</key>
		<string>HKD</string>
		<key>title</key>
		<string>Hong Kong dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Hungary</string>
		<key>code</key>
		<string>HUF</string>
		<key>title</key>
		<string>Hungarian forint</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Iceland</string>
		<key>code</key>
		<string>ISK</string>
		<key>title</key>
		<string>Icelandic krona</string>
	</dict>
	<dict>
		<key>country</key>
		<string>India</string>
		<key>code</key>
		<string>INR</string>
		<key>title</key>
		<string>Indian rupee</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Indonesia</string>
		<key>code</key>
		<string>IDR</string>
		<key>title</key>
		<string>Indonesian rupiah</string>
	</dict>
	<dict>
		<key>country</key>
		<string>International Monetary Fund (IMF)</string>
		<key>code</key>
		<string>XDR</string>
		<key>title</key>
		<string>SDR (Special Drawing Right)</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Iran</string>
		<key>code</key>
		<string>IRR</string>
		<key>title</key>
		<string>Iranian rial</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Iraq</string>
		<key>code</key>
		<string>IQD</string>
		<key>title</key>
		<string>Iraqi dinar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Ireland</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Isle of Man* (UK)</string>
		<key>code</key>
		<string>IMP</string>
		<key>title</key>
		<string>Manx pound</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Israel</string>
		<key>code</key>
		<string>ILS</string>
		<key>title</key>
		<string>Israeli new sheqel</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Italy</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Jamaica</string>
		<key>code</key>
		<string>JMD</string>
		<key>title</key>
		<string>Jamaican dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Japan</string>
		<key>code</key>
		<string>JPY</string>
		<key>title</key>
		<string>Japanese yen</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Jersey* (UK)</string>
		<key>code</key>
		<string>JEP</string>
		<key>title</key>
		<string>Jersey pound</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Jordan</string>
		<key>code</key>
		<string>JOD</string>
		<key>title</key>
		<string>Jordanian dinar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Kazakhstan</string>
		<key>code</key>
		<string>KZT</string>
		<key>title</key>
		<string>Kazakhstani tenge</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Kenya</string>
		<key>code</key>
		<string>KES</string>
		<key>title</key>
		<string>Kenyan shilling</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Kiribati</string>
		<key>code</key>
		<string>AUD</string>
		<key>title</key>
		<string>Australian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Kosovo</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Kuwait</string>
		<key>code</key>
		<string>KWD</string>
		<key>title</key>
		<string>Kuwaiti dinar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Kyrgyzstan</string>
		<key>code</key>
		<string>KGS</string>
		<key>title</key>
		<string>Kyrgyzstani som</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Laos</string>
		<key>code</key>
		<string>LAK</string>
		<key>title</key>
		<string>Lao kip</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Latvia</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Lebanon</string>
		<key>code</key>
		<string>LBP</string>
		<key>title</key>
		<string>Lebanese pound</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Lesotho</string>
		<key>code</key>
		<string>LSL</string>
		<key>title</key>
		<string>Lesotho loti</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Liberia</string>
		<key>code</key>
		<string>LRD</string>
		<key>title</key>
		<string>Liberian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Libya</string>
		<key>code</key>
		<string>LYD</string>
		<key>title</key>
		<string>Libyan dinar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Liechtenstein</string>
		<key>code</key>
		<string>CHF</string>
		<key>title</key>
		<string>Swiss franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Lithuania</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Luxembourg</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Macau* (China)</string>
		<key>code</key>
		<string>MOP</string>
		<key>title</key>
		<string>Macanese pataca</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Macedonia</string>
		<key>code</key>
		<string>MKD</string>
		<key>title</key>
		<string>Macedonian denar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Madagascar</string>
		<key>code</key>
		<string>MGA</string>
		<key>title</key>
		<string>Malagasy ariary</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Malawi</string>
		<key>code</key>
		<string>MWK</string>
		<key>title</key>
		<string>Malawian kwacha</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Malaysia</string>
		<key>code</key>
		<string>MYR</string>
		<key>title</key>
		<string>Malaysian ringgit</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Maldives</string>
		<key>code</key>
		<string>MVR</string>
		<key>title</key>
		<string>Maldivian rufiyaa</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Mali</string>
		<key>code</key>
		<string>XOF</string>
		<key>title</key>
		<string>West African CFA franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Malta</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European Euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Marshall Islands</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Martinique* (France)</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European Euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Mauritania</string>
		<key>code</key>
		<string>MRO</string>
		<key>title</key>
		<string>Mauritanian ouguiya</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Mauritius</string>
		<key>code</key>
		<string>MUR</string>
		<key>title</key>
		<string>Mauritian rupee</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Mayotte* (France)</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European Euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Mexico</string>
		<key>code</key>
		<string>MXN</string>
		<key>title</key>
		<string>Mexican peso</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Micronesia</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Moldova</string>
		<key>code</key>
		<string>MDL</string>
		<key>title</key>
		<string>Moldovan leu</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Monaco</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European Euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Mongolia</string>
		<key>code</key>
		<string>MNT</string>
		<key>title</key>
		<string>Mongolian tugrik</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Montenegro</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European Euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Montserrat* (UK)</string>
		<key>code</key>
		<string>XCD</string>
		<key>title</key>
		<string>East Caribbean dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Morocco</string>
		<key>code</key>
		<string>MAD</string>
		<key>title</key>
		<string>Moroccan dirham</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Mozambique</string>
		<key>code</key>
		<string>MZN</string>
		<key>title</key>
		<string>Mozambican metical</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Myanmar</string>
		<key>code</key>
		<string>MMK</string>
		<key>title</key>
		<string>Myanmar kyat</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Namibia</string>
		<key>code</key>
		<string>NAD</string>
		<key>title</key>
		<string>Namibian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Nauru</string>
		<key>code</key>
		<string>AUD</string>
		<key>title</key>
		<string>Australian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Nepal</string>
		<key>code</key>
		<string>NPR</string>
		<key>title</key>
		<string>Nepalese rupee</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Netherlands</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>New Caledonia* (France)</string>
		<key>code</key>
		<string>XPF</string>
		<key>title</key>
		<string>CFP franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>New Zealand</string>
		<key>code</key>
		<string>NZD</string>
		<key>title</key>
		<string>New Zealand dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Nicaragua</string>
		<key>code</key>
		<string>NIO</string>
		<key>title</key>
		<string>Nicaraguan cordoba</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Niger</string>
		<key>code</key>
		<string>XOF</string>
		<key>title</key>
		<string>West African CFA franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Nigeria</string>
		<key>code</key>
		<string>NGN</string>
		<key>title</key>
		<string>Nigerian naira</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Niue* (New Zealand)</string>
		<key>code</key>
		<string>NZD</string>
		<key>title</key>
		<string>New Zealand dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Norfolk Island* (Australia)</string>
		<key>code</key>
		<string>AUD</string>
		<key>title</key>
		<string>Australian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>North Korea</string>
		<key>code</key>
		<string>KPW</string>
		<key>title</key>
		<string>North Korean won</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Northern Mariana Islands* (USA)</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Norway</string>
		<key>code</key>
		<string>NOK</string>
		<key>title</key>
		<string>Norwegian krone</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Oman</string>
		<key>code</key>
		<string>OMR</string>
		<key>title</key>
		<string>Omani rial</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Pakistan</string>
		<key>code</key>
		<string>PKR</string>
		<key>title</key>
		<string>Pakistani rupee</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Palau</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Palestine</string>
		<key>code</key>
		<string>ILS</string>
		<key>title</key>
		<string>Israeli new sheqel</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Panama</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Papua New Guinea</string>
		<key>code</key>
		<string>PGK</string>
		<key>title</key>
		<string>Papua New Guinean kina</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Paraguay</string>
		<key>code</key>
		<string>PYG</string>
		<key>title</key>
		<string>Paraguayan guarani</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Peru</string>
		<key>code</key>
		<string>PEN</string>
		<key>title</key>
		<string>Peruvian nuevo sol</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Philippines</string>
		<key>code</key>
		<string>PHP</string>
		<key>title</key>
		<string>Philippine peso</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Pitcairn Islands* (UK)</string>
		<key>code</key>
		<string>NZD</string>
		<key>title</key>
		<string>New Zealand dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Poland</string>
		<key>code</key>
		<string>PLN</string>
		<key>title</key>
		<string>Polish zloty</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Portugal</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Puerto Rico* (USA)</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Qatar</string>
		<key>code</key>
		<string>QAR</string>
		<key>title</key>
		<string>Qatari riyal</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Reunion* (France)</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Romania</string>
		<key>code</key>
		<string>RON</string>
		<key>title</key>
		<string>Romanian leu</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Russia</string>
		<key>code</key>
		<string>RUB</string>
		<key>title</key>
		<string>Russian ruble</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Rwanda</string>
		<key>code</key>
		<string>RWF</string>
		<key>title</key>
		<string>Rwandan franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Saint BarthŽlemy* (France)</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Saint Helena* (UK)</string>
		<key>code</key>
		<string>SHP</string>
		<key>title</key>
		<string>Saint Helena pound</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Saint Kitts and Nevis</string>
		<key>code</key>
		<string>XCD</string>
		<key>title</key>
		<string>East Caribbean dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Saint Lucia</string>
		<key>code</key>
		<string>XCD</string>
		<key>title</key>
		<string>East Caribbean dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Saint Martin* (France)</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Saint Pierre and Miquelon* (France)</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Saint Vincent and the Grenadines</string>
		<key>code</key>
		<string>XCD</string>
		<key>title</key>
		<string>East Caribbean dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Samoa</string>
		<key>code</key>
		<string>WST</string>
		<key>title</key>
		<string>Samoan tala</string>
	</dict>
	<dict>
		<key>country</key>
		<string>San Marino</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Sao Tome and Principe</string>
		<key>code</key>
		<string>STD</string>
		<key>title</key>
		<string>Sao Tome and Principe dobra</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Saudi Arabia</string>
		<key>code</key>
		<string>SAR</string>
		<key>title</key>
		<string>Saudi riyal</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Senegal</string>
		<key>code</key>
		<string>XOF</string>
		<key>title</key>
		<string>West African CFA franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Serbia</string>
		<key>code</key>
		<string>RSD</string>
		<key>title</key>
		<string>Serbian dinar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Seychelles</string>
		<key>code</key>
		<string>SCR</string>
		<key>title</key>
		<string>Seychellois rupee</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Sierra Leone</string>
		<key>code</key>
		<string>SLL</string>
		<key>title</key>
		<string>Sierra Leonean leone</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Singapore</string>
		<key>code</key>
		<string>SGD</string>
		<key>title</key>
		<string>Singapore dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Sint Maarten* (Netherlands)</string>
		<key>code</key>
		<string>ANG</string>
		<key>title</key>
		<string>Netherlands Antillean guilder</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Slovakia</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Slovenia</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Solomon Islands</string>
		<key>code</key>
		<string>SBD</string>
		<key>title</key>
		<string>Solomon Islands dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Somalia</string>
		<key>code</key>
		<string>SOS</string>
		<key>title</key>
		<string>Somali shilling</string>
	</dict>
	<dict>
		<key>country</key>
		<string>South Africa</string>
		<key>code</key>
		<string>ZAR</string>
		<key>title</key>
		<string>South African rand</string>
	</dict>
	<dict>
		<key>country</key>
		<string>South Korea</string>
		<key>code</key>
		<string>KRW</string>
		<key>title</key>
		<string>South Korean won</string>
	</dict>
	<dict>
		<key>country</key>
		<string>South Sudan</string>
		<key>code</key>
		<string>SSP</string>
		<key>title</key>
		<string>South Sudanese pound</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Spain</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Sri Lanka</string>
		<key>code</key>
		<string>LKR</string>
		<key>title</key>
		<string>Sri Lankan rupee</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Sudan</string>
		<key>code</key>
		<string>SDG</string>
		<key>title</key>
		<string>Sudanese pound</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Suriname</string>
		<key>code</key>
		<string>SRD</string>
		<key>title</key>
		<string>Surinamese dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Svalbard and Jan Mayen* (Norway)</string>
		<key>code</key>
		<string>NOK</string>
		<key>title</key>
		<string>Norwegian krone</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Swaziland</string>
		<key>code</key>
		<string>SZL</string>
		<key>title</key>
		<string>Swazi lilangeni</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Sweden</string>
		<key>code</key>
		<string>SEK</string>
		<key>title</key>
		<string>Swedish krona</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Switzerland</string>
		<key>code</key>
		<string>CHF</string>
		<key>title</key>
		<string>Swiss franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Syria</string>
		<key>code</key>
		<string>SYP</string>
		<key>title</key>
		<string>Syrian pound</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Taiwan</string>
		<key>code</key>
		<string>TWD</string>
		<key>title</key>
		<string>New Taiwan dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Tajikistan</string>
		<key>code</key>
		<string>TJS</string>
		<key>title</key>
		<string>Tajikistani somoni</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Tanzania</string>
		<key>code</key>
		<string>TZS</string>
		<key>title</key>
		<string>Tanzanian shilling</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Thailand</string>
		<key>code</key>
		<string>THB</string>
		<key>title</key>
		<string>Thai baht</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Timor-Leste</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Togo</string>
		<key>code</key>
		<string>XOF</string>
		<key>title</key>
		<string>West African CFA franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Tokelau* (New Zealand)</string>
		<key>code</key>
		<string>NZD</string>
		<key>title</key>
		<string>New Zealand dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Tonga</string>
		<key>code</key>
		<string>TOP</string>
		<key>title</key>
		<string>Tongan pa_anga</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Trinidad and Tobago</string>
		<key>code</key>
		<string>TTD</string>
		<key>title</key>
		<string>Trinidad and Tobago dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Tunisia</string>
		<key>code</key>
		<string>TND</string>
		<key>title</key>
		<string>Tunisian dinar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Turkey</string>
		<key>code</key>
		<string>TRY</string>
		<key>title</key>
		<string>Turkish lira</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Turkmenistan</string>
		<key>code</key>
		<string>TMT</string>
		<key>title</key>
		<string>Turkmenistani manat</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Turks and Caicos Islands* (UK)</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Tuvalu</string>
		<key>code</key>
		<string>AUD</string>
		<key>title</key>
		<string>Australian dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Uganda</string>
		<key>code</key>
		<string>UGX</string>
		<key>title</key>
		<string>Ugandan shilling</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Ukraine</string>
		<key>code</key>
		<string>UAH</string>
		<key>title</key>
		<string>Ukrainian hryvnia</string>
	</dict>
	<dict>
		<key>country</key>
		<string>United Arab Emirates</string>
		<key>code</key>
		<string>AED</string>
		<key>title</key>
		<string>UAE dirham</string>
	</dict>
	<dict>
		<key>country</key>
		<string>United Kingdom</string>
		<key>code</key>
		<string>GBP</string>
		<key>title</key>
		<string>Pound sterling</string>
	</dict>
	<dict>
		<key>country</key>
		<string>United States of America</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Uruguay</string>
		<key>code</key>
		<string>UYU</string>
		<key>title</key>
		<string>Uruguayan peso</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Uzbekistan</string>
		<key>code</key>
		<string>UZS</string>
		<key>title</key>
		<string>Uzbekistani som</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Vanuatu</string>
		<key>code</key>
		<string>VUV</string>
		<key>title</key>
		<string>Vanuatu vatu</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Vatican City (Holy See)</string>
		<key>code</key>
		<string>EUR</string>
		<key>title</key>
		<string>European euro</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Venezuela</string>
		<key>code</key>
		<string>VEF</string>
		<key>title</key>
		<string>Venezuelan bolivar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Vietnam</string>
		<key>code</key>
		<string>VND</string>
		<key>title</key>
		<string>Vietnamese dong</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Virgin Islands of the United States* (USA)</string>
		<key>code</key>
		<string>USD</string>
		<key>title</key>
		<string>United States dollar</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Wallis and Futuna Islands* (France)</string>
		<key>code</key>
		<string>XPF</string>
		<key>title</key>
		<string>CFP franc</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Yemen</string>
		<key>code</key>
		<string>YER</string>
		<key>title</key>
		<string>Yemeni rial</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Zambia</string>
		<key>code</key>
		<string>ZMW</string>
		<key>title</key>
		<string>Zambian kwacha</string>
	</dict>
	<dict>
		<key>country</key>
		<string>Zimbabwe</string>
		<key>code</key>
		<string>ZWD</string>
		<key>title</key>
		<string>Zimbabwean dollar</string>
	</dict>
</array>
</plist>
